@import "./variables.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-image: url($cdn-url + "/textures/dust.png");
  filter: invert(1);
  animation: changeBackground 0.75s steps(1) infinite alternate-reverse;
  background-repeat: repeat;
  opacity: 0.2;
  z-index: 5;
  pointer-events: none;

  &.flashing {
    opacity: 0.5;
    filter: invert(0);
  }

  @keyframes changeBackground {
    0% {
      background-image: url($cdn-url + "/textures/dust.png");
    }
    20% {
      background-image: url($cdn-url + "/textures/concrete-wall-2.png");
    }
    40% {
      background-image: url($cdn-url + "/textures/old-wall.png");
    }
    60% {
      background-image: url($cdn-url + "/textures/concrete-wall.png");
    }
    80% {
      background-image: url($cdn-url + "/textures/asfalt-dark.png");
    }
    100% {
      background-image: url($cdn-url + "/textures/old-wall.png");
    }
  }
}
