@import "./variables.scss";

.brazil-australia-new-zealand {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-white;
  overflow-x: hidden;

  .copyright {
    position: fixed;
    bottom: $space-md;
    left: 0;
    width: 100vw;
    text-align: center;
    color: $color-white;
    font-size: $font-size-xs;
    font-weight: 200;
  }

  .background {
    position: fixed;
    top: -2%;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    content: " ";
    background-image: url($cdn-url + "/temple-of-doom/background-desktop.png");
    background-size: cover;
    pointer-events: none;
    user-select: none;

    @include for-phone-only {
      background-image: url($cdn-url + "/aus-mobile-bg.png");
    }

    @include for-tablet {
      background-image: url($cdn-url + "/temple-of-doom/background-desktop.png");
    }
  }

  .aus-guy {
    position: fixed;
    bottom: -10%;
    left: 0;
    width: 395px;
    max-width: 60vw;
    height: 80vh;
    max-height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    user-select: none;
    margin: 0;
    cursor: pointer;

    mix-blend-mode: hard-light;
    opacity: 0.75;

    z-index: 1;

    @include for-large-screens {
      bottom: -15%;
    }

    img {
      max-height: 90vh;
      width: auto;
      pointer-events: none;
      user-select: none;
      transform: scaleX(-1);
    }

    @include for-phone-only {
      display: none;
    }
  }

  .tour-dates {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;

    top: 110px;
    height: calc(100% - 150px);
    justify-content: flex-start;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      text-shadow: 3px 3px 0px $color-black;
      gap: 8px;
      width: 33%;
      padding-top: $space-md;
      padding-bottom: $space-md;
      margin: auto;

      @include for-phone-only {
        width: 100%;
      }
    }

    .tour-date {
      all: unset;
      position: relative;
      display: flex;

      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 24px;

      width: 100%;
      text-transform: uppercase;
      letter-spacing: -2px;
      background-color: rgba($color-black, 0.75);
      cursor: pointer;

      transition: transform 0.1s ease;

      &:hover {
        outline: 4px solid $color-red;
        transform: scale(1.1);
      }

      @include for-phone-only {
        width: 100%;
        padding: 24px 0;
      }
    }

    .location {
      display: flex;
      flex-direction: column;
    }

    .flag {
      position: absolute;
      left: -4px;
      top: -2px;
      transform: rotate(-10deg);

      border-radius: 4px;

      width: 40px;
      height: 28px;
      object-fit: fill;

      filter: drop-shadow(2px 2px 2px rgba($color-black, 0.5));

      @mixin for-large-screens {
        left: -8px;
        top: -8px;
      }

      @include for-phone-only {
        left: 2px;
        top: 0px;

        width: 32px;
        height: 20px;
      }
    }

    .city,
    .country {
      text-align: center;
      font-size: 28px;
      line-height: 1;
      font-weight: 800;
      white-space: nowrap;
      width: 200px;

      @include for-phone-only {
        font-size: 18px;
        width: 150px;
      }
    }

    .city {
      letter-spacing: -2px;
    }

    .country {
      font-size: 32px;
      letter-spacing: -2.5px;

      @include for-phone-only {
        font-size: 20px;
      }
    }

    .date {
      color: $color-yellow;
      font-size: 32px;
      font-weight: 800;
      width: 200px;

      @include for-phone-only {
        font-size: 18px;
        width: 100px;
      }
    }

    .tickets {
      font-size: 24px;
      padding: 8px;

      background-color: $color-red;
      color: $color-white;

      box-shadow: 4px 4px 0px $color-black;
      font-weight: 600;
      text-decoration: none;
      width: 220px;

      @include for-phone-only {
        font-size: 16px;
        padding: 8px;
        width: 120px;
        margin-right: 8px;
      }
    }
  }
}
