@import "./variables.scss";

.fall-tour {
  position: relative;
  max-width: 1920px;
  margin: auto;
  background-color: $color-white;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
  }

  .copyright {
    position: absolute;
    bottom: $space-md;
    right: $space-xl;
    font-weight: 600;
    text-align: right;

    @include for-phone-only {
      bottom: $space-lg;
      right: $space-md;
      font-size: $font-size-xs;
      font-weight: 700;
    }
  }

  .title {
    max-width: 800px;
    height: auto;
    margin: auto;
    z-index: 0;
    will-change: transform;
    transition: all 0.1s ease;

    @include for-phone-only {
      z-index: 0;
      position: fixed;
      top: 90px;
      max-width: 95vw;
      margin-bottom: calc($space-md * -1);
    }
  }

  .bottom {
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-bottom: calc($space-lg * -1);
    z-index: 1;

    @include for-phone-only {
      padding-top: 150px;
      max-width: auto;
      width: 110vw;
      height: auto;
      transform: translateX(-5vw);
      margin-bottom: calc($space-xxs * -1);
    }
  }

  .end {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 10vw;
    transform: translateY(100%);
    height: auto;

    @include for-phone-only {
      transform: translateY(300%);
      max-width: 20vw;
    }
  }

  .panel {
    position: relative;
    background-color: $color-yellow;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    word-break: break-all;
    z-index: 2;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tour-date {
    display: flex;
    flex-direction: column;
    padding: $space-sm;
    gap: $space-sm;
    width: 80%;
    overflow: hidden;
  }

  .city {
    all: unset;
    cursor: pointer;
    font-size: $font-size-xl;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-white;
    text-shadow: $space-xs $space-xs 0px $color-black;
    position: relative;

    &.over {
      text-decoration: line-through;
      text-decoration-thickness: 4px;
      text-decoration-color: $color-red;
      pointer-events: none;

      @include for-phone-only {
        text-decoration-thickness: 2px;
      }
    }

    .venue,
    .opener {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      font-size: $font-size-sm;
    }

    .opener {
      top: 18px;
      right: -20px;

      span {
        font-size: $font-size-xs;
        margin: $space-xs;
      }
    }

    &:hover,
    &:focus,
    &:active {
      &:not(&.over) {
        .venue {
          display: flex;
          font-weight: 800;
          letter-spacing: -1.5px;
          transform: rotate(10deg);
          color: lighten($color-blue, 10%);
        }

        .opener {
          display: flex;
          font-weight: 800;
          letter-spacing: -0.5px;
          transform: rotate(10deg);
          color: lighten($color-green, 10%);
        }

        @include for-phone-only {
          &.right {
            .venue {
              right: auto;
              left: 0;
              top: 0;
              transform: rotate(-10deg);
            }

            .opener {
              right: auto;
              top: 18px;
              left: -20px;
              transform: rotate(-10deg);
            }
          }
        }
      }
    }
  }

  .date {
    font-size: $font-size-lg;
    font-weight: 500;
  }

  .buy {
    all: unset;
    cursor: pointer;
    padding: $space-md 0;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-white;
    background-color: $color-blue;
    font-size: $font-size-xl;
    letter-spacing: $space-xxs;
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: $space-xs $space-xs 0px $color-black;

    text-shadow: 1px 1px 0px $color-black, 2px 2px 0px $color-black,
      3px 3px 0px $color-black, 2px 2px 0px $color-black,
      3px 0px 0px $color-black;
  }

  .tour-cities {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: $space-xl;
    text-align: center;
    gap: $space-xl;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    overflow: hidden;

    .city {
      position: relative;
      color: $color-white;
      text-shadow: 1px 1px 0px $color-black, 2px 2px 0px $color-black,
        3px 3px 0px $color-black;
      font-size: $font-size-xxl;
      cursor: pointer;
      z-index: 1;

      background-color: rgba($color-yellow, 0.25);

      .sold-out {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        margin: auto;
        padding: $space-xs;
        opacity: 1;
        transform: rotate(-10deg) scale(0.6) translate(50%, 150%);
        background-color: $color-gray;
        color: $color-red;
      }

      &:hover {
        &:not(&.over) {
          color: $color-red;
          background-color: rgba($color-red, 0.25);

          @include for-desktop {
            transform: scale(1.2);
          }

          .date {
            color: $color-black;
          }

          .sold-out {
            opacity: 1;
          }
        }
      }

      &.over {
        &:hover {
          cursor: default;
        }
      }
    }

    .date {
      color: $color-red;
      font-weight: 600;
      font-size: $font-size-lg;
      text-shadow: none;
    }

    @include for-phone-only {
      grid-template-columns: repeat(2, auto);
      gap: $space-md 0;
      padding: $space-sm 0;
      padding-bottom: $space-lg;

      .city {
        font-size: $font-size-lg;
        padding: $space-sm;
        background-color: rgba($color-yellow, 0.5);

        .date {
          font-weight: 400;
          font-size: $font-size-sm;
          mix-blend-mode: multiply;
        }
      }
    }

    @include for-tablet {
      grid-template-columns: repeat(3, auto);
    }
  }

  .vote-guy {
    position: absolute;
    bottom: calc($space-xs * -1);
    max-width: 800px;
    z-index: 0;
    pointer-events: none;
    left: -25%;

    img {
      width: 100%;
      height: auto;
    }

    @include for-phone-only {
      display: none;
    }
  }

  .paratrooper {
    position: absolute;
    bottom: calc($space-xs * -1);
    right: 0;
    max-width: 800px;
    z-index: 0;
    pointer-events: none;

    mix-blend-mode: multiply;
    opacity: 0.5;

    img {
      width: 100%;
      height: auto;
    }
  }

  @include for-tablet {
    .title {
      max-width: 650px;
      height: auto;
      z-index: 1;
      filter: drop-shadow($space-xs $space-xs 0 $color-yellow);
      margin-bottom: -2%;
    }

    .bottom {
      padding-top: 0px;
      max-width: auto;
      width: 100vw;
      max-width: 800px;
      height: auto;
      margin: auto;
      transform: translateX(0vw);
      margin-bottom: calc($space-xxs * -1);
      z-index: 0;
    }

    .end {
      position: fixed;
      top: -10%;
      left: 0;
      width: 100%;
      max-width: 15vw;
      transform: translateY(0%);
      height: auto;
    }
  }

  @media screen and (min-width: 1300px) and (max-height: 900px) {
    .title {
      max-width: 650px;
      height: auto;
      z-index: 1;
      filter: drop-shadow($space-xs $space-xs 0 $color-yellow);
      margin-bottom: -2%;
    }

    .bottom {
      padding-top: 0px;
      max-width: auto;
      width: 100vw;
      max-width: 1000px;
      height: auto;
      margin: auto;
      transform: translateX(0vw);
      margin-bottom: calc($space-xl * -1);
      z-index: 0;
    }

    .end {
      position: fixed;
      top: -10%;
      left: 0;
      width: 100%;
      max-width: 15vw;
      transform: translateY(0%);
      height: auto;
    }
  }
}
