@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./variables.scss";

:root {
  color-scheme: dark;
  --game-header-height: clamp(56px, 8svh, 76px);
}

body {
  margin: 0;
  font-family: "Martian Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-black;
  color: $color-white;

  &.no-scroll {
    overflow: hidden;
  }
}

button,
input {
  font-family: "Martian Mono", monospace;
}

html {
  &.no-scroll {
    overflow: hidden;

    body {
      overflow: hidden;
    }
  }
}
