@import "./variables.scss";

.landing {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-white;
  overflow-x: hidden;

  .copyright {
    position: fixed;
    bottom: $space-md;
    left: 0;
    width: 100vw;
    text-align: center;
    color: $color-white;
    font-size: $font-size-xs;
    font-weight: 200;
  }

  .temple-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: "";
    background-image: url("/images/temple-of-doom/background-desktop.png");
    background-size: cover;
    pointer-events: none;
    user-select: none;

    @include for-phone-only {
      background-image: url("/images/temple-of-doom/background-mobile.png");
    }

    @include for-tablet {
      background-image: url("/images/temple-of-doom/background-desktop.png");
    }
  }

  .monster {
    position: relative;
    width: 395px;
    max-width: 50vw;
    height: 70vh;
    max-height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    user-select: none;
    margin-top: 0;
    cursor: pointer;

    @include for-desktop {
      margin-top: 100px;
    }

    img {
      position: fixed;
      top: -5%;
      max-height: 70vh;
      width: auto;
      animation: float 6s ease-in-out infinite;
      pointer-events: none;
      user-select: none;

      filter: brightness(0.66) drop-shadow(0 1rem 1rem $color-black);

      @include for-phone-only {
        max-height: auto;
        width: 100vw;
        height: auto;
        top: -1%;
      }
    }
  }

  .main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include for-tablet {
      justify-content: flex-start;
      padding-top: 6rem;
    }

    @include for-phone-only {
      justify-content: flex-start;
      padding-top: 5rem;
    }

    .lil-darkie {
      max-width: 33vw;
      height: auto;
      margin-bottom: -5rem;

      @include for-tablet {
        margin-bottom: 0;
      }

      @include for-phone-only {
        max-width: 60vw;
        height: auto;
        margin-left: -8rem;
      }
    }

    .presents {
      all: unset;
      font-size: 3rem;
      font-family: "SF Fedora Titles Italic";
      text-transform: uppercase;
      text-shadow: 0.1rem 0.1rem 0 $color-black, 0.2rem 0.2rem 0 $color-black,
        0.3rem 0.3rem 0 $color-black;

      letter-spacing: -3px;

      @include for-tablet {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
      }

      @include for-phone-only {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 7rem;
        margin-left: 8rem;
      }
    }

    .doom {
      all: unset;
      font-size: 5rem;
      line-height: 5rem;
      font-family: "SF Fedora";
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -1px;
      margin-left: -1rem;

      color: $color-red;
      text-shadow: 0 1px 0px $color-black, 1px 0 0px $color-black,
        1px 2px 1px $color-black, 2px 1px 1px $color-black,
        2px 3px 2px $color-black, 3px 2px 2px $color-black,
        3px 4px 2px $color-black, 4px 3px 3px $color-black,
        4px 5px 3px $color-black, 5px 4px 2px $color-black,
        5px 6px 2px $color-black, 6px 5px 2px $color-black,
        6px 7px 1px $color-black, 7px 6px 1px $color-black,
        7px 8px 0px $color-black, 8px 7px 0px $color-black;

      div:nth-child(2) {
        letter-spacing: -3px;
      }

      @include for-tablet {
        font-size: 4rem;
        line-height: 4.5rem;
      }

      @include for-phone-only {
        font-size: 3rem;
        line-height: 3rem;
        margin-left: -1rem;
        margin-top: -5rem;
      }
    }
  }

  .band {
    position: relative;

    img {
      position: fixed;
      bottom: -10%;
      right: 15%;
      max-width: 20vw;
      height: auto;
      pointer-events: none;
      user-select: none;
      filter: drop-shadow(0 0 1rem $color-black);

      @include for-phone-only {
        max-width: 80vw;
        right: -10%;
        height: auto;
        bottom: -10%;
      }
    }
  }

  .get-tickets {
    all: unset;
    cursor: pointer;

    z-index: 1;
    background-color: rgba($color-black, 0.75);
    padding: 1rem;
    text-transform: uppercase;
    width: 33%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 2rem;
    color: $color-white;
    font-weight: 800;

    position: fixed;
    bottom: 3rem;
    left: 50%;
    translate: -50%;

    @include for-phone-only {
      width: 100%;
    }
  }

  .featuring {
    display: none;

    @include for-phone-only {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-right: auto;
      margin-left: 2rem;
      font-family: "SF Fedora";
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding-bottom: 40%;

      div:first-child {
        color: $color-yellow;
        text-shadow: 2px 2px 0 $color-black;
      }

      div {
        filter: drop-shadow(0.1rem 0.1rem 0 $color-black)
          drop-shadow(0.2rem 0.2rem 0 $color-black)
          drop-shadow(0.3rem 0.3rem 0 $color-black);

        margin-top: -1rem;
      }
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
