@import "./variables.scss";

.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  //max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-black;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-black;
  transition: all 0.2s linear;

  overflow: hidden;

  &.light {
    background-color: $color-white;

    .backdrop {
      filter: invert(0);
      opacity: 0.25;
    }
  }
}

.new-content-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  color: $color-white;
}

.backdrop {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  filter: invert(1);
  opacity: 0.1;

  @include for-phone-only {
    width: 150%;
    height: 150%;
    object-fit: contain;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-red;
  height: calc(100vh - 3rem);
}

.links {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-evenly;
  margin-top: 1rem;
  z-index: 1;

  @include for-phone-only {
    height: 3rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &:hover,
    &:active {
      transform: scale(1.2);
    }
  }

  img {
    height: 100%;
    width: auto;
  }
}

.unknown {
  height: 50%;
  width: auto;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  margin-top: 3rem;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.1);
  }

  @include for-phone-only {
    width: 100%;
    height: auto;
  }
}

.footer {
  height: 2rem;
  margin-bottom: 1rem;
  z-index: 1;

  &.light {
    .copyright {
      color: $color-black;
      text-shadow: 1px 1px 0 $color-white, 2px 2px 0 $color-white;
      filter: none;
    }
  }

  @include for-phone-only {
    position: fixed;
    bottom: 0;
  }

  .copyright {
    text-align: center;
    color: $color-white;
    font-size: 0.7rem;
    letter-spacing: -1px;
    font-weight: 400;
    text-shadow: 0px 1px 0 $color-black, 0px 1px 0 $color-black;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));

    @include for-desktop {
      font-size: 1.4rem;
    }
  }
}
