@import "./variables.scss";

.landing {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-white;
  overflow-x: hidden;

  .make-track-button {
    all: unset;

    cursor: pointer;
    position: fixed;
    top: 13%;
    right: 5%;
    text-transform: uppercase;
    text-align: center;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    transform: rotate(25deg) scale(0.75);

    gap: $space-xxs;

    transition: all 0.2s ease;
    opacity: 0;
    animation: fadeIn 0.2s cubic-bezier(0.25, 0.1, 0.75, 0.9) forwards;
    transform-style: preserve-3d;
    animation-delay: 2s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @include for-phone-only {
      display: flex;
    }

    &:hover {
      opacity: 1;
      transform: rotate(25deg) scale(1.1);
      gap: $space-xs;

      img {
        filter: saturate(1);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
      transform: translate(0, -15%) scale(1.25);
      z-index: -1;

      filter: saturate(0.75);
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      font-weight: bold;

      text-shadow: 2px 3px $color-black;

      &.make {
        font-size: 16px;
        letter-spacing: -0.5px;
        line-height: 20px;
      }

      &.lil-darkie {
        font-size: 20px;
        line-height: 20px;
      }

      &.track {
        font-size: 24px;
        transform: scaleY(1) scaleX(1.65);
      }
    }
  }

  .copyright {
    position: fixed;
    bottom: $space-md;
    left: 0;
    width: 100vw;
    text-align: center;
    color: $color-white;
    font-size: $font-size-xs;
    font-weight: 200;
  }

  &.flashing {
    animation: flashingBackground 200ms infinite;

    color: $color-white;
    background-color: $color-white;

    @keyframes flashingBackground {
      0% {
        background-color: $color-white;
      }
      20% {
        background-color: $color-black;
      }
      40% {
        background-color: $color-white;
      }
      60% {
        background-color: $color-black;
      }
      80% {
        background-color: $color-white;
      }
    }
  }

  .landing-footer {
    all: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;

    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    user-select: none;

    cursor: pointer;

    .listen {
      position: fixed;
      width: 33%;
      bottom: 0;
      margin-bottom: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      cursor: pointer;
      color: $color-red;
      font-family: "Martian Mono", monospace;
      font-weight: 400;
      background-color: $color-red;
      color: $color-white;
      padding: 16px 0;
      border: 1px double $color-red;
      text-shadow: 2px 3px $color-black;
      font-size: 24px;
      text-align: center;
      user-select: none;
      margin-top: -64px;

      white-space: nowrap;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        text-underline-offset: 4px;

        background-color: $color-red;
        color: $color-white;
      }

      @include for-desktop {
        background-color: rgba($color-black, 0.75);
        box-shadow: 2px 2px 0px $color-black;
        color: $color-red;
        font-size: 24px;
        padding: 24px;
      }

      @include for-phone-only {
        width: 90vw;
        margin-bottom: 48px;
        gap: 0;
        flex-direction: column;

        .new-album {
          font-size: 32px;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }

      @include for-tablet {
        width: 60vw;
      }

      @include for-large-screens {
        font-size: 32px;
      }
    }

    .landing-footer-tour {
      max-width: 90vw;
      user-select: none;

      @include for-desktop {
        max-width: 800px;
      }

      img {
        pointer-events: none;
        width: 100%;
        height: auto;
        filter: drop-shadow(1px 3px 0px $color-black);
      }
    }
  }

  .star-bg {
    position: fixed;
    top: -2%;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    content: " ";
    background-image: url($cdn-url + "/star-bg-medium.png");
    background-size: cover;
    pointer-events: none;
    user-select: none;

    animation: float 12s ease-in-out infinite reverse;

    @include for-phone-only {
      background-image: url($cdn-url + "/star-bg-mobile.png");
    }

    @include for-tablet {
      background-image: url($cdn-url + "/star-bg-small.png");
      background-size: fill;
    }
  }

  .globe-guy {
    position: relative;
    width: 395px;
    max-width: 60vw;
    height: 80vh;
    max-height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    user-select: none;
    margin-top: 0;
    cursor: pointer;

    @include for-desktop {
      margin-top: 100px;
    }

    img {
      position: fixed;
      max-height: 90vh;
      width: auto;
      animation: float 6s ease-in-out infinite;
      pointer-events: none;
      user-select: none;

      @include for-phone-only {
        max-height: 65vh;
        width: auto;
      }
    }
  }

  @keyframes float {
    0% {
      filter: drop-shadow(0px 0px 24px rgba($color-white, 0.1));
      transform: translateY(0%);
    }
    50% {
      filter: drop-shadow(0px 0px 48px rgba($color-white, 0.1));
      transform: translateY(2%);
    }
    100% {
      filter: drop-shadow(0px 0px 32px rgba($color-white, 0.1));
      transform: translateY(0%);
    }
  }
}
