@import "./variables.scss";

.sampler-face {
  position: relative;
  width: 395px;
  max-width: 60vw;
  max-height: -webkit-fill-available;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  margin: 40px;

  @include for-phone-only {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    mix-blend-mode: color-dodge;
    opacity: 0.5;
  }

  .red {
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: $color-red;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 0.5;
    }
  }

  .white {
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 0.5;
    }
  }

  .yellow {
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: $color-yellow;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 0.5;
    }
  }

  img {
    position: absolute;
    width: 100%;
    pointer-events: none;

    @include for-phone-only {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
    }

    &.normal {
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }

    &.s-face {
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }
  }
}
