@import "./variables.scss";

.slide-show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1300px) and (max-height: 900px) {
    padding-top: 80px;
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
    color: $color-yellow;
    text-align: center;
    text-shadow: 1px 1px 0px $color-black, 2px 2px 0px $color-black,
      3px 3px 0px $color-black;

    @include for-phone-only {
      font-size: $font-size-xl;
      letter-spacing: 1.5px;
    }

    @include for-tablet {
      font-size: $font-size-xl;
    }
  }

  .slide-show-selected-image {
    position: relative;
    width: calc(100vw - $space-xl);
    margin: $space-md;
    background-color: rgba($color-white, 1);
    border: 2px solid $color-black;

    display: flex;
    align-items: center;
    justify-content: center;

    @include for-tablet {
      max-width: 50vw;
    }

    .slide-show-main-image {
      @include for-phone-only {
        width: 95%;
        height: 35vh;
      }

      width: 90%;
      height: 50vh;
      object-fit: contain;

      @include for-desktop {
        min-width: 600px;
      }
    }

    .frame-left {
      position: absolute;
      left: -4%;
      height: 50%;
      width: auto;
      pointer-events: none;
    }

    .frame-right {
      position: absolute;
      right: -6%;
      height: 50%;
      width: auto;
      pointer-events: none;
    }

    .frame-bottom {
      position: absolute;
      top: 90%;
      left: 0;
      height: auto;
      max-height: 50vh;
      width: 100%;
      z-index: -1;
      pointer-events: none;
      object-fit: contain;

      @include for-desktop {
        height: 35vh;
      }
    }
  }

  .slide-show-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100vw - $space-xl);
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-between;
    align-items: center;
    gap: $space-md;
    padding: $space-md;
    z-index: 0;

    button {
      all: unset;
      cursor: pointer;
    }

    img {
      max-height: 120px;
      width: 100%;
      object-fit: cover;
      border: 2px solid transparent;
      opacity: 0.5;

      &.selected {
        border: 2px solid $color-red;
        opacity: 1;
      }
    }

    @include for-phone-only {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 1200px;

      img {
        width: 200px;
      }
    }

    @include for-desktop {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 1200px;

      img {
        width: 200px;
      }
    }
  }

  @include for-desktop {
    .slide-show-selected-image {
      width: 50vw;

      img {
        height: 60vh;
      }
    }
  }
}
