@import "./variables.scss";

.spinner {
  display: flex;
  animation: spin 3s forwards infinite linear;

  width: 400px;
  height: auto;

  max-width: 80vw;

  img {
    width: 100%;
    height: 100%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.15);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}
