@import "./variables.scss";

.spotify {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: $space-lg;
  width: 64px;
  z-index: 6;
  cursor: pointer;

  img {
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  @include for-phone-only {
    width: 32px;
    top: 0;
    bottom: auto;

    &.sticky {
      margin: 14px $space-md;
    }

    &.hide {
      left: -50%;
    }
  }
}
