@import "./variables.scss";

.tour-2024 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  color: $color-white;
  overflow-x: hidden;

  .copyright {
    position: fixed;
    bottom: $space-md;
    left: 0;
    width: 100vw;
    text-align: center;
    color: $color-white;
    font-size: $font-size-xs;
    font-weight: 200;
  }

  .star-bg {
    position: fixed;
    top: -2%;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    content: " ";
    background-image: url($cdn-url + "/star-bg-medium.png");
    background-size: cover;
    pointer-events: none;
    user-select: none;

    animation: float 12s ease-in-out infinite reverse;

    @include for-phone-only {
      background-image: url($cdn-url + "/star-bg-mobile.png");
    }

    @include for-tablet {
      background-image: url($cdn-url + "/star-bg-small.png");
      background-size: fill;
    }
  }

  .globe-guy {
    position: relative;
    width: 395px;
    max-width: 60vw;
    height: 80vh;
    max-height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    user-select: none;
    margin-top: 0;
    cursor: pointer;

    @include for-desktop {
      margin-top: 100px;
    }

    img {
      position: fixed;
      max-height: 90vh;
      width: auto;
      animation: float 6s ease-in-out infinite;
      pointer-events: none;
      user-select: none;

      @include for-phone-only {
        max-height: 65vh;
        width: auto;
      }
    }
  }

  @keyframes float {
    0% {
      filter: drop-shadow(0px 0px 24px rgba($color-white, 0.1));
      transform: translateY(0%);
    }
    50% {
      filter: drop-shadow(0px 0px 48px rgba($color-white, 0.1));
      transform: translateY(2%);
    }
    100% {
      filter: drop-shadow(0px 0px 32px rgba($color-white, 0.1));
      transform: translateY(0%);
    }
  }

  .tour-dates {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;

    top: 110px;
    height: calc(100% - 150px);
    justify-content: flex-start;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      text-shadow: 3px 3px 0px $color-black;
      gap: 8px;
      width: 33%;

      @include for-phone-only {
        width: 100%;
      }
    }

    .tour-date {
      all: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 24px;
      gap: 8px;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: -2px;
      background-color: rgba($color-black, 0.75);
      cursor: pointer;

      transition: transform 0.1s ease;

      &:hover {
        outline: 4px solid $color-red;
        transform: scale(1.1);
      }

      @include for-phone-only {
        width: 100%;
      }
    }

    .city,
    .country {
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      white-space: nowrap;
    }

    .country {
      font-size: 28px;
      letter-spacing: -2.5px;
      margin-top: -16px;
    }

    .date {
      color: $color-yellow;
      font-size: 44px;
      font-weight: 800;
    }

    .tickets {
      font-size: 28px;

      padding: 16px;

      background-color: $color-red;
      color: $color-white;

      box-shadow: 4px 4px 0px $color-black;
      font-weight: 600;
      text-decoration: none;
      width: 100%;

      max-width: 50%;
    }
  }
}
