$color-white: #ffffff;
$color-black: #000000;
$color-gray: #131512;
$color-green: #6c9664;
$color-blue: #4178b0;
$color-red-alt: #ff1010;
$color-red: #e00910;
$color-yellow: #f6c601;
$color-peach: #efbf75;
$color-teal: #65dafb;

$color-light-gray: #dfe1dc;
$color-purple: #3e5fa4;
$color-brown: #736353;
$color-light-brown: #a6a1a7;
$color-light-blue: #b2bfd0;

$screen-size-xxs: 400px;
$screen-size-xs: 500px;
$screen-size-sm: 1100px;
$screen-size-lg: 1920px;
$screen-size-xl: 2000px;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$cdn-url: "https://lil-darkie.b-cdn.net";

@mixin for-very-small-phone-only {
  @media screen and (max-width: $screen-size-xxs) {
    @content;
  }
}

@mixin for-phone-only {
  @media screen and (max-width: $screen-size-sm) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: $screen-size-sm) and (min-height: $screen-size-xs) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: 800px) and (max-width: 1300px) and (max-height: 1100px) {
    @content;
  }
}

@mixin for-large-screens {
  @media screen and (min-width: $screen-size-xl) {
    @content;
  }
}
