@import "@/styles/variables.scss";

.toolbar {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form_element {
  background: transparent;
  border: 1px solid var(--color-dark-grey);
  margin-left: calc(var(--spacer) / 2);
  height: var(--form-element-height);
  box-sizing: border-box;
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-fg);
}

.button_play_pause,
.button_stop {
  width: var(--button-pause-play-width);
  padding: 0;
  cursor: pointer;
}

.button_icon_path {
  fill: var(--color-fg);
}

.input_bpm {
  width: var(--input-bpm-width);
  font-size: 14px;
  background-color: $color-gray;
  padding: $space-sm;

  &:focus {
    outline: 2px solid $color-yellow;
  }
}

.label_bpm {
  margin-left: calc(var(--spacer) / 2);
  margin-right: var(--spacer);
}

.clear {
  padding: $space-sm;
  border: 0;
  cursor: pointer;
  background-color: $color-gray;
  margin-left: auto;

  &:hover,
  &:focus {
    color: $color-yellow;
  }
}
